@mixin blogBox {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  @include blogBox();
}

.title-blog {
  text-align: center;
  color: #614d4b;
}

nav {
  text-align: center;
  a {
    text-decoration: none;
    color: #614d4b;
  }
  a:hover {
    color: $pinkColor;
    transition: color 0.6 ease-out 1s;
  }
}

.container {
  margin: 2em 0;
  text-align: center;
}

div.blog-post {
  list-style: none;

  margin-left: -2.5%;

  article {
    display: inline-block;
    border-radius: 3px;
    padding: 1.5em;
    width: 400px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #eee;
    vertical-align: top;
    box-shadow: 0 0 6px #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 0 10px;
    }

    img:hover {
      transform: $imgZoom;
    }

    h3 {
      margin: 0.6em 0 0.6em;
      text-align: left !important;
      color: #333;
    }

    p {
      margin: 0.6em 0 1.3em;
      line-height: 1.5em;
      color: #8c8c8c;
      text-align: left !important;
    }
  }
}

.button {
  text-align: center;
  width: 50%;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 8px 15px 8px 15px;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

div.blog-post.columns-2 article {
  width: 37%;
}

@media (max-width: 480px) {
  div.grid-nav article {
    display: block;
    margin: 0 0 5px;
  }
  div.grid-nav article a {
    display: block;
  }
  div.blog-post {
    margin-left: 0;
  }
  div.blog-post article {
    width: 100% !important;
    margin: 0 0 20px;
  }
}

footer {
  text-align: center;
}
