@mixin blogBox {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  @include blogBox();
}

.title-blog {
  text-align: center;
  color: #614d4b;
}

nav {
  text-align: center;
  a {
    text-decoration: none;
    color: #614d4b;
  }
  a:hover {
    color: $pinkColor;
    transition: $transitionColor;
  }
}

.container {
  margin: 2em 0;
  text-align: center;
}

div.blog-post {

  article {
    display: inline-block;
    border-radius: 3px;
    padding: 1.5em;
    width: 400px;
    margin: 0 0 2rem 2rem;
    background: #fff;
    border: 1px solid #eee;
    vertical-align: top;
    box-shadow: 0 0 6px #eee;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 37%;

    img {
      max-width: 100%;
      height: auto;
      margin: 0 0 1rem;
    }

    img:hover {
      transform: $imgZoom;
    }

    h3 {
      margin: 0.6em 0 0.6em;
      text-align: left;
      color: #333;
    }

    p {
      margin: 0.6em 0 1.3em;
      line-height: 1.5em;
      color: #8c8c8c;
      text-align: left;
    }
  }
}

.button {
  text-align: center;
  width: 50%;
  

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

footer {
  text-align: center;
}


@include blogResp;