button, .button {
	display: inline-block;
	position: relative;
	outline: none;
	border: 0;
	padding: 0;
	cursor: pointer;
	background: #4F413F;
	color: #fff;
	border: 2px solid #333;
	border-radius: 0.2rem;
	padding: 0.5rem 1rem;
	margin: 0 1rem 1rem 0;
}

button:last-child, .button:last-child {
	margin-bottom: 0;
}

button:hover,
.button:hover,
.button:focus,
 {
	@include button-hover($pinkColor, $transitionColor);
}

button.fill, .button.fill {
	background: #333;
	color: #FFF;
}

button.fill:hover,
button.fill:focus,
.button.fill:hover,
.button.fill:focus {
	@include button-hover($pinkColor, $transitionColor);
}