.news-form {
	max-width: 30rem;
	margin: 0 auto;
}

.news-form,

// .news-form select
.news-form .news-input,
.news-form textarea,
 {
	display: block;
}

// form fieldset,
//  {
// 	border: 1px solid #666;
// 	background: #F9F9F9;
// 	border-radius: 0.2rem;
// 	box-shadow: 0 0 1rem 0.1rem rgba(0,0,0,0.1);
// }

// form fieldset {
// 	padding: 2.5em 2em 2em 2em;
// 	position: relative;
// }

// form legend {
// 	width: 30%;
// 	padding: 0.5rem 1rem;
// 	left: -1px;
// 	top: -1.4rem;
// 	position: absolute;
// }

// form label {
// 	font-weight: bold;
// }


.news-field .news-input {
	display: flex;
	position: relative;
	align-items: center;
}



.news-field .news-input input {
	border: none;
	flex: 1 1 auto;
	padding: 0.8rem;
	outline: none;
	background: transparent;
	z-index: 2;
	order: 2;
}

// .news-field .news-input .fas {
// 	z-index: 2;
// 	position: relative;
// 	padding: 0 0 0 0.8rem;
// 	font-size: 0.9em;
// 	order: 1;
// }

.news-field .news-input input + .actions {
	display: block;
	background: #FFF;
	border: 2px solid #333;
	border-radius: 0.2rem;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
}

.news-field .news-input input:focus + .actions {
	border-color: #EB1D45;
}

.news-field .news-input input:focus + .actions + .fas {
	color: #EB1D45;
}



@media screen and (min-width: 800px) {
	.field {
		display: flex;
	}

	.field .input {
		flex: 1 0 auto;
	}

	.field .input + * {
		margin-left: 0.5rem;
	}

	.field label {
		line-height: 1;
		display: flex;
		align-items: center;
		padding-right: 0.5rem;
	}
}
