
.login-form {
    animation: lightSpeedIn 0.5s 1 ease-in-out forwards;
    width: 70%;
    margin: 0 auto;
}
.login-fieldset,
.login-fieldset legend {
    border: 2px solid #333;
    border-radius: 0.3em;
    background: #ccc;
    padding: 0.6em 2.2em;
}

.login-fieldset {    
    background: $brownColor;
    padding: 3.5vh 4.5vw 3vh 4.5vw;
}

.login-label {
    
    display: block;
    color: #ccc;
}

.user-field #username:hover ,
.pass-field #password:hover,
.user-field #username:focus,
.pass-field #password:focus {
   
    border-color: #333;
    box-shadow: $pinkBoxShadow;
} 

.login-button{
    display: block;
    border: 2px solid #CCC;
    background: #333;
    color: #FFF;
    padding: 0.6em 6.2em;
    border-radius: 0.4em;
    font-weight: bold;
    cursor: pointer;
}

.login-button:hover {
    background: $pinkColor;
    border-color: #333;
    transition: $transitionMain;
    box-shadow: $pinkBoxShadow;
}

.btn {
    
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    text-decoration: none; 
    margin-right: 0.2rem;
  }

  .btn:hover {
    opacity: 1;
    box-shadow: $pinkBoxShadow;
  }
  .fb {
    background-color: #3B5998;
    color: white;
    width: 21%;
  }
  
  .github {
    background-color: #24292E;
    color: white;
    width: 21%;
  }
  
  .google {
    background-color: #dd4b39;
    color: white;
    width: 21%;
  }
  
  .twitter {
    background-color: #55ACEE;
    color: white;
    width: 21%;
  }


  @media screen and (max-width: 650px) {
    .col {
    display: flex;
      width: 100%;
      margin-top: 0;
    }

    .login-form {
        display: flex;
        width: 100%;
    }
}
