.news-form {
	max-width: 50%;
	margin: 0 auto;
}

.news-field {
	text-align: center;
}

input.news-input {
	border-radius: 1rem;
	border-style: none;
	
	padding: 0.3rem;
    margin-right: 1rem;
    background: #CCC;
	font-weight: bold
}

.news-button {
	border-radius: 0.5rem;
	border-style: none;
	padding: 0.3rem;
	font-weight: bold;
	background-color: #CCC;
	cursor: pointer;
}

.news-button:hover {
	border-color: #EB1D45;
	color: #EB1D45;
}


@media screen and (max-width: 800px) {
	.news-field {
		display: flex;
		flex-direction: column;
	}

	.news-field input.news-input {
		flex: 1 0 auto;
	}

	.news-field input.news-input + * {
		margin-left: 0.5rem;
	}

	.news-button {
		// margin-bottom: 2.2rem;
		margin-top: 1rem;
	}
	
}
