.chocolate-cake .wrapper img{
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

section.newsletter {
    background-color: $brownColor;
    color: #EEE;
    padding: 2rem;
    box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.2);
    text-align: center;
}


.newsletter > header:nth-child(1) > h2:nth-child(1) {
    text-align: center;
}

.info {
    text-align: center;
    color: black;
    padding: 4% 15%;

    h1 {
    margin-top: 0;
    }
}


button.info-button a {
    color: #fff;
}

@media screen and(max-width: 400px) {
    body {
        margin: 0 1rem;
    }
}