body {
    background-color: #F1EDE5;
}

.wrapper {
    
    
}

.chocolate-cake .wrapper img{
    // background-image: url(../images/banner.png);
    width: 100%;
    height: auto;
    background-size: cover;
    opacity: 1;
    border-radius: 0.5rem;
    transition: opacity 1s linear;
}

section.newsletter {
    background-color: #4F413F;
    color: #EEE;
    padding: 2rem;
    box-shadow: 0 0 2rem 0.2rem rgba(0, 0, 0, 0.2);
}

section.newsletter .field {
    display: flex;
    align-self: center;
}


section.newsletter .field .input {
    flex: 1 0 auto;
}

input.news-input:focus {
    color: #EB1D45;
    border-color: #EB1D45;
}

section.newsletter .button {
    background: #F5FAFE;
    border:none;
    padding: 15px 28px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    flex: 1 0 auto;
}

section.newsletter header h2 {
    text-align: center;
}

.info {
    // background: #F05F40;
    
    text-align: center;
    color: black;
    padding: 4% 15%;
}

.info h1 {
    margin-top: 0; /* za d anqma bqlo mejdy poletata */

}

.info button {
    background: #4F413F;
    color: white;
    border:none;
    padding: 15px 28px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.info button:hover {
    color: #EB1D45;
    transition: color 0.3s ease-out 0s;
}
.info > button:nth-child(4) > a:nth-child(1) {
    text-decoration: none;

    color: whitesmoke;
}


.info button a{
    
}
.info > button:nth-child(4) > a:nth-child(1):hover {
     color: #EB1D45;
    transition: color 0.3s ease-out 0s;
}

