.site-footer {
    text-align: center;
    padding: 10px;
    color: $brownColor;
}

.site-footer a {
    color: $brownColor;
    text-decoration: none;
}

.site-footer a:hover {
    color: $pinkColor;
    transition: $transitionColor;
}