.site-footer {
    text-align: center;
    padding: 10px;
    color: #4F413F;
}

.site-footer a {
    color: #4F413F;
    text-decoration: none;
}

.site-footer a:hover {
    color: #EB1D45;
    transition: color 0.3s ease-out 0s;
}