.site-header p
 {
    padding: 0;
    margin: 0;
}

.site-header {
    position: sticky;
    
}

.site-header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
}

.site-header .site-title a {
    text-decoration: none;
    color: #614d4b;
    font-size: 2rem;
}

.site-header .site-description {
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.site-header .wrapper img {
    width: 13%;
    animation: wobble 2s 1 ease-in-out forwards;
}

