@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Mukta');
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');

@import 'animations';
@import 'typography';

@import 'forms-login';
@import 'forms-register';

@import 'buttons';
@import 'forms';

@import 'layout';
@import 'navigation';


@import 'site-header';
@import 'site-footer';