<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ login.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
</head>
<body>
    <div class="site">
        <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" value="">
        <header class="site-header">
            <div class="wrapper">
                <div class="site-branding">
                    <p class="site-title">
                        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                    </p>
                    <p class="site-description">{{ site.description }}</p>
                </div>
    
                <label id="toggle" for="main-nav-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                    MENU
                </label>
                <img src="../images/logo.jpg">
                <nav class="main navigation">
                    <ul>
                        <li><a href="{{ site.baseurl }}">Home</a></li>
                        <li><a href="/about/">Pricing</a></li>
                        <li><a href="/gallery/">Gallery</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/login/">Login</a></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        {{content}}

        <footer class="site-footer">
            <a href="#">Foonzy</a> at your service! Copyright &copy; 2018
        </footer>
</body>
</html>