<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css" type="text/css">
</head>
<body>
    <div class="site">
    <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" value="">
    <header class="site-header">
        <div class="wrapper">
            <div class="site-branding">
                <p class="site-title">
                    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
                </p>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <label id="toggle" for="main-nav-toggle">
                <i class="fas fa-bars"></i>
                <i class="fas fa-times"></i>
                MENU
            </label>
            <img src="../images/logo.jpg">
            <nav class="main navigation">
                <ul>
                    <li><a href="{{ site.baseurl }}">Home</a></li>
                    <li><a href="/about/">Pricing</a></li>
                    <li><a href="/gallery/">Gallery</a></li>
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/register/">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="chocolate-cake">
        <div class="wrapper">
            <img src="../images/banner.png">
        </div>
    </section>


    <section class="info">
        <h1>We've got what you need!</h1>
        <p class="line white"></p>
        <p>
            We hear no evil, see no evil and speak no evil. Everything we do is with and for love: love of our
            friends from around the world and the new friends we will meet in the university. We are a playful
            camp. We want to share great code with everyone who might journey to our desert jungle, and hopefully
            climb up our monkey trees to enjoy a banana.
        </p>
        <button>Find your monkey</button>
    </section>

    <section class="newsletter">
        <header>
            <h2> Sign up to our newsletter with your e-mail and receive 20% off your next purchase!</h2>
        </header>

        <form action="#" method="post">
            <p class="field">
                <span class="input">
                    <input type="text" name="email" />
                    <span class="actions"></span>
                </span>
                <input type="submit" class="button" value="Subscribe Now">
            </p>
        </form>
    </section>

    
    <div>
</body>
</html>